---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import type { Page, PaginateFunction } from "astro";
import PostCard from "@/components/PostCard.astro";
import Layout from "@/layouts/Layout.astro";

interface Props {
  page: Page<CollectionEntry<"entrance-exam">>;
}

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const allPosts = await getCollection("entrance-exam");
  const allTags = allPosts.flatMap((page) => page.data.tags || []);
  const uniqueTags = Array.from(new Set(allTags));
  return uniqueTags.flatMap((tag) => {
    const filteredPosts = allPosts.filter((page) => page.data.tags?.includes(tag));
    return paginate(filteredPosts, {
      params: { tag },
      pageSize: 20
    })
  })
}

const { page } = Astro.props;
const params = Astro.params;
---

<Layout title=`${params.tag}の記事一覧` description="記事一覧">
  <div class="border-b-2 border-current">
  {
    page.data
    .map((page) => (
      <PostCard
        url={`/entrance-exam/${page.id}`}
        title={page.data.title}
        description={page.data.description}
        created={page.data.created}
      />
    ))
  }
  </div>
  <div class="my-5 ml-auto px-3">
    <a href="/">トップページに戻る</a>
  </div>
</Layout>

<style>
  .border-b-2 {
    border-bottom-width: 2px;
  }

  .border-current {
    border-color: currentColor;
  }

  .my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .ml-auto {
    margin-left: auto;
  }

  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
</style>
