---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Prose from "@/components/Prose.astro";
import Layout from "@/layouts/Layout.astro";

type Props = CollectionEntry<"pages">;

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { id: page.id },
    props: page,
  }));
}

const page = Astro.props;

const dateFormatter = new Intl.DateTimeFormat("ja-JP", {
  dateStyle: "medium",
});

const formattedCreated = dateFormatter.format(page.data.created);
const formattedModified = dateFormatter.format(page.data.modified);

const { Content } = await render(page);
---

<Layout title={page.data.title} description={page.data.description || page.data.title}>
  <div class="card w-auto">
    <div class="relative flex items-center text-center justify-center">
      <h1 class="mb-3 text-2xl">
        {page.data.title}
      </h1>
    </div>
    {
      page.data.modified ?
        <div class="grid grid-cols-2 text-center border-b-2 border-current mb-2">
          <div>作成日: {formattedCreated}</div>
          <div>更新日: {formattedModified}</div>
        </div> :
        <div class="text-center border-b-2 border-current mb-2">
          <div>作成日: {formattedCreated}</div>
        </div>
    }
    {
      page.data.description &&
      <div class="text-center">
        {page.data.description}
      </div>
    }
  </div>
  <div id="content" class="border-b-2 border-current">
    <Prose>
      <Content />
    </Prose>
  </div>
  <div class="my-5 ml-auto px-3">
    {page.data.prev &&
      <a href={`/${page.data.prev}`} class="mr-3">前のページ</a>}
    {page.data.next &&
      <a href={`/${page.data.next}`}>次のページ</a>}
  </div>
  <div class="my-5 ml-auto px-3">
    <a href="/">トップページに戻る</a>
  </div>
</Layout>

<style>
  .mb-2 {
    margin-bottom: 0.5rem;
  }

  .mb-3 {
    margin-bottom: 0.75rem;
  }

  .text-2xl {
    line-height: 2.5rem;
  }

  .grid {
    display: grid;
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .text-center {
    text-align: center;
  }

  .border-b-2 {
    border-bottom-width: 2px;
  }

  .border-current {
    border-color: currentColor;
  }

  .my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .ml-auto {
    margin-left: auto;
  }

  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
</style>
