---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Prose from "@/components/Prose.astro";

type Props = CollectionEntry<"ewsn">;

export async function getStaticPaths() {
	const posts = await getCollection("ewsn");
	return posts.map((post) => ({
		params: { id: post.id },
		props: post,
	}));
}

const post = Astro.props;

const dateFormatter = new Intl.DateTimeFormat("ja-JP", {
	dateStyle: "medium",
});

const formattedCreated = dateFormatter.format(post.data.created);

const formattedModified = dateFormatter.format(post.data.modified);

const { Content } = await render(post);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="ewsn" />
    <meta name="description" content={post.data.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={post.data.title} />
    <meta property="og:description" content={post.data.description} />
    <meta property="og:url" content={Astro.url} />
    <title>{post.data.title}</title>
  </head>
  <body class="container">
    <div>
      <div>
        <h1>
          {post.data.title}
        </h1>
      </div>
      <div>
        <div>作成日: {formattedCreated}</div>
        {
          post.data.modified ? <div>更新日: {formattedModified}</div> : ""
        }
      </div>
    </div>
    <div id="content">
      <Prose>
        <Content />
      </Prose>
    </div>
  </body>
</html>
<style>
*,
:before,
:after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}

html {
  color: #000000;
	line-height: 1.5;
}

body {
	display: flex;
	flex-direction: column;
	line-height: inherit;
	margin: 0;
	min-height: 100vh;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 768px;
	}
}
</style>
