---
import Layout from './Layout.astro';
import Prose from '../components/Prose.astro';

const { frontmatter } = Astro.props;

const dateFormatter = new Intl.DateTimeFormat("ja-JP", {
	dateStyle: "medium",
});

const formattedCreated = dateFormatter.format(new Date(frontmatter.created));

const isModified = frontmatter.modified !== "";
const formattedModified = isModified ? dateFormatter.format(new Date(frontmatter.modified)) : "";
---

<Layout title={frontmatter.title} description={frontmatter.description}>
	<div class="card w-auto dark:card-dark">
		<div class="relative flex items-center justify-center">
			<h1 class="mb-3 text-2xl font-medium">
				{frontmatter.title}
			</h1>
		</div>
		<div class="grid grid-cols-2 mb-3 text-center">
			<div>作成日: {formattedCreated}</div>
			{
				isModified ? <div>更新日: {formattedModified}</div> : ""
			}
		</div>
		<div id="content" class="border-t">
			<Prose>
				<slot />
			</Prose>
		</div>
	</div>
	<div class="my-5 ml-auto px-3">
		<a href="/posts">記事一覧に戻る</a>
	</div>
</Layout>
